//- =========================================================================================
	File Name: form-select2.pug
	Description: Form select2
	----------------------------------------------------------------------------------------
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PixInvent
	Author URL: https://pixinvent.com/
	==========================================================================================


extends template

block pageVars
	- var pageTitle = "Form Select2"
	- var pageSubTitle = ""
	- var activeParentMenu = "form"
	- var activeMenu = "form-select2"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {url:"#",name:"Form"}, {name:"Form Select2"}])

//- Include page content in page block
append content
	include ../contents/form-select2.html
	include ../contents/sidebar/right-sidebar.html
	include ../contents/sidebar/fab-menu.html

//- Vendor css
//- Add vendor specific CSS
append vendorcss
	link(rel ='stylesheet' href=app_assets_path + '/vendors/select2/select2.min.css', type='text/css')
	link(rel ='stylesheet' href=app_assets_path + '/vendors/select2/select2-materialize.css', type='text/css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/select2/select2.full.min.js')
//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/form-select2.js')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/pages/form-select2.css')